<%- include layouts/header.ejs %>
    <div class="container">
      <h1><%= title %></h1>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://fondosmil.com/fondo/40780.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images7.alphacoders.com/971/971933.jpg" class="d-block w-100" alt="..."> </div>
          <div class="carousel-item">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6c74b413-2214-41b4-b2f5-f2fadf215f36/d9doips-a6abd877-4b59-43d8-9870-cd40347cc0b2.jpg/v1/fill/w_1024,h_579,q_75,strp/el_monumental_river_plate___wallpaper_by_toxic25_d9doips-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc5IiwicGF0aCI6IlwvZlwvNmM3NGI0MTMtMjIxNC00MWI0LWIyZjUtZjJmYWRmMjE1ZjM2XC9kOWRvaXBzLWE2YWJkODc3LTRiNTktNDNkOC05ODcwLWNkNDAzNDdjYzBiMi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.wezaHzBzZxj_3_0JkIzDj6ivYEhalAFvydr2QL1j2UM" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
<%- include layouts/footer.ejs %>
